// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap imports

// ============ iatom.uk customisation ============

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;1,200;1,300&family=Roboto+Mono:ital,wght@0,400;0,700;1,700&family=Roboto:wght@100&display=swap');
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Mono', monospace;

$colour: #900000;
$footer_height: 50px;

html, body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: $colour;
}

/**
* w: The width of boldening
*/
@mixin bold_shadow($w, $colour) {
    text-shadow: 
        (-$w) 0 $colour, 0 $w $colour, $w 0 $colour, 0 (-$w) $colour, 
        (-$w) (-$w) $colour, $w $w $colour, (-$w) $w $colour, $w (-$w) $colour;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

p.intro-title {
    @include bold_shadow(2px, black);
    font-size: 140px;
    font-weight: 700;
}

p.intro-subheading-title {
    @include bold_shadow(1px, black);
    font-size: 70px;
    font-weight: 500;
}

p.intro-subheading-body {
    font-size: 48px;
    font-weight: 400;
    font-style: italic;
}

div.intro {
    height: 90vh;
    background-color: #006600;

    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;

    div.subheadings {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 80vw;

        div {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 0 5% 0 5%;
        }

        div.left {
            align-items: flex-end;
            text-align: right;
        }
    
        div.right {
            align-items: flex-start;
        }
    }
}

div.main {
    margin: 0.5%;

    p {
        font-size: 36px;
    }
}

footer {
    margin: 0;
    padding: 0 0.5% 0 0.5%; // T, R, B, L

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: $footer_height;

    background-color: #000066;

    p {
        font-weight: 700;
        font-size: 16px;
        color: white;
    }

    a {
        @extend p
    }
}