body {
  margin: 0;
  padding: 0;
  background-color: #23222A;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  color: #EDE8ED;
  font-family: "Courier New", "Courier New";
  font-size: 16px;
}

p {
  color: #EDE8ED;
  font-family: "Courier New", "Courier New";
  font-size: 16px;

  a {
    color: #EDE8ED;
  }
}

#waves {
  width: 120vw;
  height: 25vh;
  transform: scale(1,-1);
  position: absolute;
  left: -10vw;
  z-index: 10;
  pointer-events: none;

  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}

#content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  text-align: center;

  #header {
    width: 100vw;
    height: 40vh;
    margin-top: 12vh;

    #title {
      white-space: pre;
      transform: translateY(30vh);

      @media only screen and (min-width: 800px)
      {
        font-size: 72px;
      }
      @media only screen and (max-width: 799px)
      {
        font-size: 48px;
      }
      @media only screen and (max-width: 450px)
      {
        font-size: 11vw;
      }

      font-weight: 900;
      transition: all 0.5s ease;
    }

    #title.title-fly {
      animation: title-fly-animation 2s ease forwards;
      transform: translateY(0);
    }
     
    #click-to-replay {
      opacity: 0;
      font-size: 12px;
      transition: opacity 0.5s ease;
    }

    #click-to-replay.fade-in {
      animation: fade-in-animation 5s ease forwards;
    }

    a {
      font-size: 12px;
    }
  }

  #centre {
    display: flex;
    flex-direction: row;
    opacity: 0;

    #left {
      min-width: 50vw;
    }

    #right {
      min-width: 50vw;
    }
  }

  #centre.fade-in {
    animation: fade-in-animation 5s ease forwards;
  }

  #footer {
    width: 100vw;
    min-height: 5vh;
    position: absolute;
    bottom: 0;

    p {
      margin-right: 5vw;
      margin-left: 5vw;
      font-size: 12px;

      a {
        font-size: 12px;
      }
    }
  }
}

@keyframes fade-in-animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes title-fly-animation {
  0% { transform: translateY(30vh); }
  100% { height: translateY(0vh); }
}
