// Functions first
// @import "../../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

@import "../../node_modules/bootstrap/scss/bootstrap";

// Required Bootstrap imports
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/variables-dark";
// @import "../../node_modules/bootstrap/scss/maps";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/root";

// // Optional Bootstrap imports
// @import "../../node_modules/bootstrap/scss/utilities";
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/containers";
// @import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/helpers";
// @import "../../node_modules/bootstrap/scss/utilities/api";

// ============ iatom.uk customisation ============

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;1,200;1,300&family=Roboto+Mono:ital,wght@0,400;0,700;1,700&family=Roboto:wght@100&display=swap');
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Mono', monospace;


// Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

$palette-darkest: #311735;
$palette-darker: #494F5A; // Charcoal
$palette-dark: #412CC9; // Chrysler blue
$palette-mid: #A148AD; // Purpureus
$palette-mid-light: #b5aea4;
$palette-light: #C2BBF0; // Periwinkle
$palette-lighter: #F1E3F3; // Pale purple

$thin-threshold-width: 1050px;

html,
body {
    margin: 0;
    min-width: 600;
    min-height: 100vh;
    width: 100%;
    scroll-behavior: smooth !important;

    display: flex;
    flex-direction: column;

    @media (prefers-color-scheme: light) {
        background-color: $palette-lighter;
    }
    @media (prefers-color-scheme: dark) {
        background-color: $palette-darkest;
    }
}

/*
* w: The width of boldening
*/
@mixin bold_shadow($w, $colour) {
    text-shadow:
        (-$w) 0 $colour, 0 $w $colour, $w 0 $colour, 0 (-$w) $colour,
        (-$w) (-$w) $colour, $w $w $colour, (-$w) $w $colour, $w (
        -$w) $colour;
}

@mixin font_family() {
    font-family: 'Roboto', sans-serif;

    @media (prefers-color-scheme: light) {
        color: $palette-darker;
    }
    @media (prefers-color-scheme: dark) {
        color: $palette-mid-light;
    }
}

p {
    @include font_family();
    margin: 0;
}

a.citation {
    @extend p;
    size: 6;
    color: #5d96eb;
    font-style: italic;
}

span.nowrap {
    text-wrap: nowrap;
}



$intro-height: 60vh;

div.intro {
    position: fixed;
    width: 100%;
    height: $intro-height;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;

    h1 {
        @include font_family();
        @include bold_shadow(2px, $palette-darker);

        font-size: 10vw;
        font-weight: 700;
        text-align: center;
    
        width: 70vw;
    }

    h2 {
        @include font_family();
        @include bold_shadow(1px, $palette-darker);

        font-size: 5vw;
        max-height: 100px;
        font-weight: 500;
        text-wrap: nowrap;
    }

    p {
        font-size: 3vw;
        font-weight: 400;
        font-style: italic;
        text-wrap: pretty;
    }

    div.subheadings {
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: $thin-threshold-width) {
            flex-direction: column;
            align-items: center;
            align-content: center;
        }
        flex-wrap: wrap;
        min-width: 80vw;

        div.subheading {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 0 5% 0 5%;

            @media only screen and (max-width: $thin-threshold-width) {
                padding-top: 4vh;

                p, p.span, h1, h2 {
                    text-align: center;
                }
            }
        }

        div.subheading#subheading-left {
            text-align: right;
        }
        div.subheading#subheading-right {
            text-align: left;
        }
    }
}

$post-intro-overlap: -10vh;

ul.personal-links {
    list-style: none;
    padding-left: 3%;
    text-align: right;

    li {
        padding: 0 10px 0 10px;

        display: block;
                
        text-wrap: nowrap;
    }

    
    p {
        font-size: 36px;
        font-style: italic;
    }

    a {
        @extend p;
        text-decoration: underline;
        text-decoration-thickness: 1px;
    }
}

div.post-intro {
    margin-top: $intro-height - $post-intro-overlap;
    position: relative;
    z-index: 10;
    width: 100%;

    div.spacer {
        aspect-ratio: 5;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/layered-waves-haikei.svg");
    }

    div.content {
        background-color: $palette-dark;
        padding: 1% 5% 1% 5%;
        margin: 0;

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;

        div.main {
            padding: 10px;
            margin: 30px 0 0 0;

            @media (prefers-color-scheme: light) {
                background-color: $palette-light;
            }
            @media (prefers-color-scheme: dark) {
                background-color: $palette-darker;
            }
            border-radius: 10px;

            width: 90vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;

            div.left {
                padding-right: 10%;

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;

                @media only screen and (max-width: $thin-threshold-width) {
                    padding-right: 0;
                    align-content: center;
                    align-items: center;
                }
            }

            div.right {
                padding-left: 10%;

                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                @media only screen and (max-width: $thin-threshold-width) {
                    padding-left: 0;
                    align-content: center;
                    align-items: center;
                }
            }
        }

        footer {
            padding: 10px; // T, R, B, L
            margin: 30px 0 0 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (prefers-color-scheme: light) {
                background-color: $palette-light;
                p {
                    color: $palette-darker;    
                }
            }
            @media (prefers-color-scheme: dark) {
                background-color: $palette-darker;
                p {
                    color: $palette-light;
                }
            }
            text-align: center;
            border-radius: 10px;

            p {
                font-weight: 700;
                font-size: 16px;
            }

            a {
                @extend p
            }
        }
    }
}